@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

/* shared styles */

.display-flex{
    display: flex;
}

.text-gray{
    color: #424242;
}
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
}
.banner-content, main, footer {
    width: 80%;
    margin: 50px auto;
}
main > section{
    margin: 50px auto;
}
.section-title {
    font-size: 2.5rem;
    font-weight: 700;
}
/* header style */
header{
    padding: 50px 0;
    /* height: 90vh; */
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-links{

}

.nav-item{
    list-style-type: none;
    margin-left: 30px;

}

.nav-link{
    text-decoration: none;
    font-weight: 700;
}

.navbar, .banner{
    /* border: 2px solid red; */
    width: 80%;
    margin: 0 auto;
}

/* banner styles section */
.banner-content{
    text-align: center;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-content p{
    margin: 20px 0;
}
.banner img{
    width: 100%;
}

/* main section */
.teams{
    /* border: 2px solid greenyellow; */
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;

}

.team-img-container{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.team-img-container img{
    width: 100%;
}
.our-features{
    width: 60%;
    /* border: 2px solid tomato; */
    margin-left: 50px;
    color: #727272;

}

.section-title .h3-1{
    color: #727272;
}
.section-title .h3-2{
    color:  #131313;
}
.section-title .h3-3{
    color:  #FF900E;
}

/* features section related styles */
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.features-image img{
    width: 100%;
    /* border: 2px solid red; */
}
#feature-section-title{
    /* border: 2px solid black; */
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 20px;
}
.feature-card{
    /* border: 2px solid tomato; */

    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    margin: 15px 0;
}
.feature-card .feature-title{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* some facts related styles */
.some-title-container{
    width: 40%;
}
.facts-container{
    /* border: 2px solid blue; */
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
}
.fact-card{
    border: 2px solid #FF900E;
    width: 240px;
    height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin: 5px 0;
}

.fact-name{
    font-size: 1.5rem;
    font-weight: 600;
}


#experience-badge{
    padding: 35px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
    font-weight: 800;
}

/* sponsor-info */
.sponsor-info{
    /* border: 2px solid red; */
    width: 40%;
    text-align: center;
    margin: 0 auto;
}
.sponsor-info h3{
    margin: 10px 0;
}
.sponsor-info p{
    font-size: 20px;
}

.sponsor-companies{
    /* border: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 40px 0;
    filter: grayscale(100%);
}
/* footer section */
.footer-section{
    text-align: center;
    padding: 25px;
    border-radius: 10px;
}
/* responsive media query */

@media only screen and (max-width: 576px) {
    .navbar, .nav-links{
        flex-direction: column;
    }
    .brand {
        font-weight: 800;
        font-size: 2.5rem;
    }
    .nav-item {
        margin-top: 20px;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .banner-title {
        font-size: 2rem;
        font-weight: 700;
    }

    .banner-content p {
        text-align: justify;
    }

    /* main section */
    .teams{
        flex-direction: column;
        
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
    .our-features {
        margin: 10px 0;
        width: 100%;
    }
    .our-features p {
        margin: 20px 0;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #experience-badge{
        display: none;
    }

    /* some facts-container */
    .some-title-container{
        width: 100%;
    }
    .some-title-container p{
        margin: 10px 0;
    }
    .facts-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-card{
        margin: 20px auto;
    }
    /* sponsor-info */
    .sponsor-info {
        width: 100%;
    }
    .sponsor-info h3{
        margin: 10px 0;
        text-align: left;
    }

    .sponsor-info p {
        font-size: 20px;
        text-align: justify;
    }
    .sponsor-companies {
        /* border: 2px solid blue; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
    .sponsor-companies img{
        filter: grayscale(100%);
        margin-top: 20px;
    }
    .footer-section {
        text-align: justify;
        padding: 25px;
        border-radius: 10px;
    }
}

/* medium size device */
@media only screen and (min-width: 577px) and (max-width: 992px){
    .brand{
        font-weight: 700;
        font-size: 2.5rem;
    }
    .teams {
        flex-direction: column;
    }
    .our-features {
        margin: 20px 0;
        width: 100%;
    }
    .our-features p{
        margin: 25px 0;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    #experience-badge {
        display: none;
    }

    .some-title-container {
        width: 100%;
    }

    .some-title-container p {
        margin: 10px 0;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .fact-card {
        margin: 20px auto;
    }
    /* sponsor-info */
    .sponsor-info {
        width: 100%;
    }

    .sponsor-companies {
        /* border: 2px solid blue; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    .sponsor-companies img {
        filter: grayscale(100%);
        margin-top: 20px;
    }
}